<div id="thumbnail-container">
  <div id="thumbnail-panel"></div>
</div>

<div id="pdf-container">
  <div id="pdf-loader">Loading document...</div>
  <div id="pdf-contents">
    <div id="pdf-meta">
      <div id="pdf-buttons">
        <button id="pdf-prev" (click)="onPrevPage()">Previous</button>
        <button id="pdf-next" (click)="onNextPage()">Next</button>
        <button id="pdf-zoomin" (click)="onZoomIn()">+</button>
        <button id="pdf-zoomout" (click)="onZoomOut()">-</button>
        <button id="save-pdf" (click)="savePDF()">Save PDF</button>
      </div>
    </div>
    <canvas id="pdf-canvas" #pdfCanvas></canvas>
  </div>
</div>